
.chat-holder {
	max-width: 1170px;
	margin: 0 auto 66px;
}
.chat-content {
	width: 100%;
	overflow: hidden;
}
.chat-sidebar {
	width: 30.76%;
	float: left;
}

/* tabs styles */
.chat-tabs {
	width: 100%;
    background: #efefef;
    border-radius: 10px 0 0 10px;
}
.nav.nav-tabs a {
    font-family: 'LatoRegular';
    font-size: 22px;
    line-height: 24px;
    color: #a0a0a0;
    padding: 39px 0 34px 0;
}
.tab-body {
    width: 100%;
    padding: 17px 0 11px 11px;
}
.tab-content {
	height: 425px;
    overflow-y: scroll;
}
.nav-tabs.nav-justified > li > a {
    border-radius: 0;
    color: #a0a0a0;
    background: #e4e4e4;
    border: none;
}
.nav-tabs>li>a:hover {
    border-color: none;
}
.nav-tabs.nav-justified > li > .first-chat-tab {
    border-radius: 10px 0 0 0;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    color: #000;
    background: #c5c5c5;
    border: none;
}
.nav-tabs.nav-justified>li>a {
    border: none;
    border-radius: 0;
}
.dialog-partner {
	width: 100%;
	position: relative;
	padding: 12px 0 16px 18px;
	border-radius: 10px 0 0 10px;
}
.dialog-partner:hover {
	background: #f5f5f5;
}
.dialog-partner:after {
	content:"";
	clear: both;
	display: block;
}
.dialog-partner.active-dialog {
	background: #fff;
}
.new-message-count {
	visibility: hidden;
	position: absolute;
	display: block;
	left: -11px;
	top: 0;
	color: #26a19c;
	width: 29px;
	height: 100%;
	overflow: hidden;
}
.new-message-count.new-message-active{
	visibility: visible;
}
.new-message-count em{
	display: block;
	float: left;
	width: 10px;
	height: 100%;
	background: -webkit-linear-gradient(left, #26a19c, #26a19c);
	border-radius: 0 10px 10px 0;
}
.new-message-count span {
	float: left;
	display: block;
    font-family: 'latoheavy';
	font-size: 14px;
	line-height: 16px;
	width: 14px;
    margin: 28px 0 0 4px;
}
.dialog-partner-left {
	float: left;
	width: 56%;
	overflow: hidden;
}
.dialog-partner-avatar {
	position: relative;
	width: 35px;
	height: 35px;
	float: left;
	margin: 2px 11px 0 0;
	padding: 0;
}
.dialog-partner-avatar img {
	border-radius: 30px;
}
.chat-avatar-status {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	width: 12px;
	height: 11px;
}
.chat-avatar-status.online-avatar-status {
	background: url("../img/chat/avatar-online.png") no-repeat 0 0;
}
.chat-avatar-status.offline-avatar-status {
	background: url("../img/chat/avatar-offline.png") no-repeat 0 0;
}
.dialog-partner-info {
	float: left;
	width: 72%;
}
.dialog-partner-info a{
	display: inline-block;
    font-family: 'BanderaProMedium';
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 2px;
}
.dialog-partner-info em{
	display: block;
	width: 100%;
	color: #a0a0a0;
    font-family: 'LatoRegular';
    font-size: 13px;
    line-height: 15px;
    font-style: normal;
}
.dialog-partner-right {
	width: 41%;
	float: left;
	overflow: hidden;
	padding-top: 1px;
    font-family: 'LatoRegular';
}
.dialog-partner-right button {
    display: inline-block;
    padding: 10px 14px 10px 14px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
}
.dialog-partner-right .start-dialog {
	background: #fff;
	color: rgba(0,0,0,0.6);
}
.dialog-partner.active-dialog .start-dialog {
	padding: 9px 13px 9px 13px;
    border: 2px solid #efefef;
}
.dialog-partner.active-dialog .start-dialog:hover {
	box-shadow: 0 0 3px #efefef inset;
}
.dialog-partner-right .start-dialog:hover {
	color: rgba(0,0,0,1);
}
.dialog-partner-right .stop-dialog {
	float: left;
	padding: 10px 18px 10px 18px;
    background: #f3cac8;
	color: rgba(0,0,0,0.6);
}
.dialog-partner-right .stop-dialog:hover{
    background: #f7c0bd;
	color: rgba(0,0,0,1);
}
.dialog-partner-right span {
	float: left;
    margin: 12px 10px 0 17px;
	font-size: 13px;
	line-height: 15px;
}
.chat-field {
	width: 69.24%;
	height: 522px;
	float: left;
	padding: 96px 27px 0 20px;
	border-top: 3px solid #efefef;
	border-bottom: 3px solid #efefef;
	border-right: 1px solid #efefef;
	border-radius: 0 10px 10px 0;
	overflow-y: scroll; 
	position: relative;
	z-index: 10;
}
.chat-field::-webkit-scrollbar-button:start {
    background: #e6e6e6 url("../img/chat/scrollbar.png") no-repeat 50% 50%;
}
.chat-field-header {
	width: 96.4%;
    position: absolute;
    top: 0;
    left: 20px;
    padding: 18px 9px 20px 0;
	border-bottom: 1px solid #a8a8a8;
}
.chat-field-header:after {
	content: "";
	display: block;
	clear: both;
}
.chat-header-left {
	float: left;
	width: 60%;
	overflow: hidden;
}
.chat-partner-avatar {
	position: relative;
	width: 48px;
	height: 48px;
	float: left;
	margin: 5px 13px 0 0;
	padding: 0;
}
.chat-partner-avatar img {
	border-radius: 30px;
	width: 100%;
	height: auto;
}
.chat-avatar-status {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	width: 15px;
	height: 14px;
}
.chat-avatar-status.online-avatar-status {
	background: url("../img/chat/avatar-online.png") no-repeat 0 0;
	background-size: 15px;
	height: 14px;
}
.chat-avatar-status.offline-avatar-status {
	background: url("../img/chat/avatar-offline.png") no-repeat 0 0;
	background-size: 15px;
	height: 14px;
}
.chat-partner-info {
	float: left;
	width: 72%;
}
.chat-partner-name {
	display: block;
	overflow: hidden;
}
.chat-partner-name button {
	float: left;
    margin: 5px 7px 0 0;
    padding: 0;
}
.chat-partner-name a{
	float: left;
	display: inline-block;
    font-family: 'BanderaProMedium';
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 2px;
}

.chat-partner-info em,
.chat-partner-info span {
	display: inline-block;
	color: #a0a0a0;
	margin-right: 5px;
    font-family: 'LatoRegular';
    font-size: 19px;
    line-height: 21px;
    font-style: normal;
    float: left;
}
.chat-partner-info span {
	display: inline-block;
	color: #009993;
}
.chat-header-right {
	width: 40%;
	float: right;
    margin-top: 2px;
}
.chat-header-right:after {
	content: "";
	clear: both;
	display: block;
}
.chat-header-nav {
	float: right;
	width: 139px;
	padding: 5px 0 9px 12px;
	margin-left: 9px;
	border: 1px solid #5d5d5d;
	border-radius: 10px;
	transition: box-shadow 0.3s;
}
.chat-header-nav:hover {
    box-shadow: 3px 3px 0 #e1e1e1;
}
.chat-header-nav img {
	float: left;
    margin: 5px 4px 0 0;
}
.chat-header-nav span {
	float: left;
    font-family: 'BanderaProMedium';
    font-size: 14px;
    line-height: 16px;
	margin-top: 12px;
}
.chat-header-nav.send-gift-button {
    padding: 1px 0 9px 17px;
}
.chat-header-nav.send-gift-button img{
    margin: 5px 7px 0 0;
}
.chat-header-nav.send-gift-button span{
	margin-top: 15px;
}







.chat-field::-webkit-scrollbar,
.tab-content::-webkit-scrollbar { 
    width: 11px;
    height: 2em;
}
.chat-field::-webkit-scrollbar-button:start,
.tab-content::-webkit-scrollbar-button:start {
    background: #efefef url("../img/chat/scrollbar.png") no-repeat 50% 50%;
    border-radius: 0 4px 0 0;
}
.chat-field::-webkit-scrollbar-button:end,
.tab-content::-webkit-scrollbar-button:end  {
    background: #efefef url("../img/chat/scrollbar-bottom.png") no-repeat 50% 50%;
    border-radius: 0 0 4px 0;
}
.chat-field::-webkit-scrollbar-track-piece,
.tab-content::-webkit-scrollbar-track-piece {
	background: #efefef;
}
.chat-field::-webkit-scrollbar-thumb,
.tab-content::-webkit-scrollbar-thumb {
    background: #c3c3c3;
}​