/*Footer starts here*/
#footer {
	width: 100%;
	background: #ebebeb;
}
.footer-holder {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
	padding: 64px 0 0 0;

}
.footer-left {
	float: left;
	width: 789px;
	overflow: hidden;
}
.footer-left-box {
	float: left;
	width: 263px;
}
.footer-left ul li {
	padding: 0 0 0 20px;
	margin: 0 0 7px;
	background: url("../img/header/bg-nav.png") no-repeat 5px 56%;
}
.footer-left ul li a{
	font-family: 'LatoBold';
	font-size: 20px;
	line-height: 22px;
}
.footer-left ul li a:hover{
	color: #e83c32;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	-ms-transition:all 0.4s;
	-o-transition:all 0.4s;
}
.footer-bottom {
	width: 1170px;
	overflow: hidden;
	padding: 53px 0 42px 0;
}
.footer-copyrights {
	display: inline-block;
	font-family: 'LatoWebMedium';
	font-size: 15px;
	line-height: 17px;
	padding: 10px 0 0 4px;
	float: left;
}
.footer-copyrights span {
	padding: 0 50px 0 0;
}
.footer-copyrights a {
	color:#0068b4;
	text-decoration: underline;
}
.footer-bottom .tel {
    font-family: 'LatoWebMedium';
    font-size: 29px;
    line-height: 31px;
    color: #e83c32;
    float: right;
}
.footer-right {
	width: 235px;
	float: right;
}
.footer-logo {
	display: block;
}
.footer-right ul {
	padding: 47px 0 0 0;
	overflow: hidden;
}
.footer-right ul li {
	float: left;
	margin: 0 23px 0 0;
	text-align: center;
	width: 62px;
	height: 62px;
	border-radius: 100px;
	border: 2px solid #e83c32;
}
.footer-right ul li:last-child {
	margin: 0;
}
.footer-right ul li a{
	display: block;
	height: 100%;
	width: 100%;
	padding: 13px 0 0 0;
	text-align: center;
}
.footer-right ul li a img{
	margin: 0 auto;
}
.page-bottom {
	width: 100%;
	padding: 52px 0 0;
	background: url("../img/header/bg-line.png") repeat-x;
	border-top: 3px solid #fff;
}
/*Footer ends here*/


/*
@media screen and (max-width: 1170px) {
		.logo { -webkit-transform:scale(0.5); -moz-transform:scale(0.5); -ms-transform:scale(0.5); -o-transform:scale(0.5); top: -50px; -webkit-transition:all 1s; -moz-transition:all 1s; -o-transition:all 1s; -ms-transition:all 1s;}
		.nav ul li {padding: 0 0 0 8%; display: inline-block; float: none; }
		.nav ul {text-align: center; }
		.nav ul li a {font-size: 17px; line-height: 25px;}
		.nav ul li:first-child {padding: 0; display: inline-block; float: none;}
		.nav ul li:nth-child(4) {background: url("../img/bg-nav.png") no-repeat 18% 60%; margin: 0; padding: 0 0 0 8%; display: inline-block; float: none;}
		.nav{}
	}
*/