.main-h1 {
	margin: 0 auto;
	width: 1170px;
}

/*Jquery gallery slider*/
.gallery-holder{
	max-width: 1800px;
	margin: 0 auto;
	position: relative;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
}
.gallery-holder:before, 
.gallery-holder:after {
	content: "";
	display: block;
	width: 100%;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../img/main/gallery-vector.png") repeat-x 0 0;
	z-index: 100;
}
.gallery-holder:after {
	top: auto;
	bottom: 0;
}
.list {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	
}
.list>li {
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.list>li.first. {
	position: relative;
	display: block;
	float: left;
}
.list img {
	height: auto;
	float: left;
 	width: 100%;
}
 .list_tabs {
 	margin: 0;
 	padding: 10px 0 0;
 	list-style: none;
 	left: 50%;
 	bottom: 7%;
 	z-index: 20;
 	position: absolute;
 	float: left;
}
 .list_tabs li{
 	float: left;
 	right: 50%;
 	position: relative;
 	margin: 0 14px 0 0;
 	width: 18px;
 	height: 18px;
}
.list_tabs li a{
	float: left;
	text-indent: -99999px;
	margin: 0 14px 0 0;
	display: block;
	background: rgba(255,255,255,0.8);
  	width: 100%;
  	height: 18px;
}
.list_tabs li.list_here a,
.list_tabs li a:hover{ 
	background: url("../img/main/bg-switcher.png") no-repeat 50% 50%, rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
}
.prev, .next{
	width: 61px;
	height: 76px;
	display: block;
	font-size: 0;
	position: absolute;
	top: 50%;
	right: 7%;
	margin-top: -31px;
	z-index: 10;
}
.prev, .next{background: url("../img/main/arrow.png") no-repeat;}
.prev{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	left: 7%;
	right: auto;
}
.list li .gallery-box {
	width: 243px;
	height: 237px;
	display: block;
	position: absolute;
	right: 17%;
	bottom: 0;
	text-align: center;
	font-family: 'LatoLight';
	background: rgba(235,229,223,0.8) no-repeat 0 0;
}
.list li .girls-online{
	margin: 0 auto;
	width: 165px;
	height: 43px;
	display: block;
	color: #fff;
	font-size: 23px;
	line-height: 40px;
	background: #e83c32;
	border: none;
	outline: none;
	border: 1px solid #e83c32;
	border-radius: 5px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
}
.list li .girls-online:hover {
	color: #e83c32;
	background: rgba(0,0,0,0);
}
.list li .gallery-box span:before {
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	top: -19px;
	background: url("../img/main/bg-gallery-box.png") no-repeat;
	width: 267px;
	height: 55px;
	opacity: 1;
}
.list li .gallery-box span {
	font-family: 'LatoLight';
	font-size: 47px;
	line-height: 49px;
	padding: 34px 0 25px 0;
	display: block;
}
/*Jquery gallery slider END*/

#main {
	width: 100%;
}
.content-top {
	width: 1170px;
	margin: 0 auto;
	padding: 57px 0 86px 0;
	overflow: hidden;
}
.detail-box {
    padding: 20px 0 28px 0;
	border-radius: 10px;
	border:1px solid #929292;
	text-align: center;
	float: left;
	width: 15.9%;
	margin-right: 0.88%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.detail-box.messaging-box h3 {
	margin-bottom: 48px;
}
.detail-box.messaging-box img {
	margin-bottom: 37px;
}
.detail-box.chat-box h3 {
	margin-bottom: 47px;
}
.detail-box.chat-box img {
	margin-bottom: 35px;
    margin-right: 7px;
}
.detail-box.video-chat-box h3 {
	margin-bottom: 44px;
}
.detail-box.video-chat-box img {
	margin: 0 10px 33px 0;
}
.detail-box.gift-box h3 {
	margin-bottom: 28px;
}
.detail-box.gift-box img {
	margin-bottom: 30px;
}
.detail-box.important-box h3 {
	margin-bottom: 19px;
	line-height: 26px;
}
.detail-box.important-box img {
	margin-bottom: 36px;
}
.detail-box.romance-box {
	margin: 0;
}
.detail-box.romance-box h3 {
	margin-bottom: 50px;
}
.detail-box.romance-box img {
	margin-bottom: 40px;
}
.detail-box:hover {
    border: 1px solid #e83c32; 
    box-shadow: 0 0 3px #e83c32;
}
.detail-box img {
	display: inline-block;
}
.content-middle {
	width: 100%;
	padding: 53px 0 130px 0;
	background: #ebebeb;
	position: relative;
}
.frame-girl-holder {
	text-align: center;
	width: 1170px;
	margin: 0 auto;
}
.frame-girl {
	background: url("../img/main/frame.png") no-repeat;
	padding: 32px;
	margin: 0 33px 0 0;
	display: inline-block;
	position: relative;
}
.frame-girl.last-image {
	margin: 0;
}
.frame-girl a {
	display: block;
}
.frame-girl a span {
	position: absolute;
	left: 22%;
	bottom: 11%;
	font-family: 'LatoWebMedium';
	font-size: 21px;
	line-height: 21px;
	border-radius: 10px;
	padding: 15px 17px 15px 39px;
	background: #fff url("../img/main/view-profile.png") no-repeat 15px 47%;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3), -3px 3px 10px rgba(0,0,0,0.3), 3px -3px 10px rgba(0,0,0,0.3), -3px -3px 10px rgba(0,0,0,0.3);
	opacity: 0.5;
	color: #000;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
}
.frame-girl a span:hover {
	opacity: 1;
}
.frame-girl.first-image:before,
.frame-girl.last-image:after {
	content: "";
	display: block;
	position: absolute;
	left: -249px;
	top: 4px;
	width: 100%;
	height: 100%;
	background: url("../img/main/flower.png") 0 0 no-repeat;
}
.frame-girl.last-image:after {
	left: auto;
	right: -251px;
	transform: scale(-1,1);
	-webkit-transform: scale(-1,1);
	-moz-transform: scale(-1,1);
	-ms-transform: scale(-1,1);
	-o-transform: scale(-1,1);
}
.frame-girl.last {
	margin: 0;
}
.content-bottom-holder {
	width: 100%;
	padding: 77px 0 68px;
	overflow: hidden;
	text-align: center;
}
.content-bottom-holder h2 {
	margin:0 0 60px 0;
}
.content-bottom {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}
.title-box {
	width: 246px;
	text-align: center;
	margin: 0 61px 0 0;
	float: left;
}
.title-box h2 {
	font-size: 30px;
	line-height: 32px;
	background: url("../img/main/bg-h2-second.png") no-repeat 50% 100%;
	padding: 0 0 28px 0;
	margin: 21px 0 29px 0;
	text-transform: capitalize;
}
.title-box span {
	background: #e83c32;
	width: 146px;
	height: 146px;
	display: inline-block;
	border-radius: 100px;
	text-align: center;
}
.title-box mark {
	font-family: 'LatoRegular';
	font-size: 21px;
	line-height: 23px;
}
.title-box img {
	display: inline-block;
	padding: 32px 0 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.title-box span:hover img {
	transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
}
.title-box.last {
	margin: 0;
}
.content-bottom-button,
.content-bottom-button:focus {
    border-radius: 10px;
    color: #e86f66;
    border: 2px solid #e83c32;
    font-family: 'LatoRegular';
	font-size: 30px;
	line-height: 32px;
	padding: 19px 0 21px 0;
	width: 290px;
	margin: 64px auto 0;
	display: block;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
	outline: none;
	text-decoration: none;
}
.content-bottom-button:hover {
    background-color: #e83c32; 
    text-decoration:none;
    border: 2px solid #e83c32; 
    color: #fff;
}
.watch-us-holder {
	width: 100%;
	background: #ebebeb;
	padding: 77px 0 88px 0;
	text-align: center;
}
.watch-us {
	width: 1170px;
	margin: 0 auto;
}
.watch-us-holder h2{
	margin: 0 0 47px 0;
}

/*Jquery gallery bottom slider*/
.gallery-box-second {
	width: 410px;
	display: block;
	position: absolute;
	right: 13%;
	top: 6%;
	font-family: 'LatoLight';
}
.gallery-box-second strong {
	font-size: 50px;
	line-height: 52px;
	padding: 0 0 27px 0;
	color: #fff;
	display: block;
	font-weight: normal;
	font-family: 'BanderaProLight';
}
.gallery-box-second p {
	font-size: 15px;
	line-height: 23px;
	color: #fff;
	margin: 0 0 21px;
	display: block;
}
.gallery-box-second>ul{
	padding: 0 0 0 38px;
	display: block;
	color: #fff;
}
.gallery-box-second>ul>li{
	padding: 0 0 20px 0;
	font-size: 25px;
	line-height: 27px;
}
.gallery-box-second>ul>li:last-child{
	padding-bottom: 40px;
}
.gallery-box-second span{
	width: 34px;
	height: 30px;
	display: block;
	float: left;
	margin: 0 14px 0 0;
}
.gallery-box-second .img-vector-one {
	background: url("../img/main/gallery-sprites.png") no-repeat 0 0;
	width: 26px;
	height: 27px;
	margin: 0 19px 0 0;
}
.gallery-box-second .img-vector-two {
	background: url("../img/main/gallery-sprites.png") no-repeat -26px 0;
	margin: 0 15px 0 0;
}
.gallery-box-second .img-vector-three {
	background: url("../img/main/gallery-sprites.png") no-repeat -60px 0;
}
.gallery-second-button,
.gallery-second-button:focus {
	font-size: 19px;
	line-height: 21px;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 12px 0 17px 0; 
	display: inline-block;
	width: 100%;
	color: #fff;
	text-align: center;
	transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    text-decoration: none;
    outline: none;
}
.gallery-second-button:hover {
	background: #fff;
	color: #000;
}
/*Jquery gallery bottom slider END*/

.subscribe-holder {
	width: 100%;
}
.subscribe {
	padding: 101px 0 110px 0;
	font-family: 'LatoRegular';
	width: 703px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.subscribe span {
	font-size: 35px;
	line-height: 37px;
    font-family: 'LatoLight';
    float: left;
    padding: 0 16px 0 0;
}
.email-holder {
	float: left;
}
.email {
	width: 307px;
	height: 44px;
	background: #ebebeb;
	font-size: 20px;
	line-height: 22px;
	padding: 0 13px 0 11px;
	color: #9a9a9a;
    border-radius: 10px;
    border: none;
    margin: 0 16px 0 0;
    outline: none;
    float: left;
}
.subscribe-button {
	width: 185px;
	height: 44px;
    font-size: 26px;
    line-height: 28px;
    background: #e83c32;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #fff;
    cursor: pointer;
	border: 2px solid #e83c32;
	float: left;
	transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.subscribe-button:hover {
	background: #fff;
	color: #e83c32;
}
/*Services modal's*/
.services-modal .modal-dialog {
	width: 352px;
}
.services-modal .modal-dialog .modal-content {
	text-align: center;
}
.services-modal .modal-dialog .modal-body {
	padding: 15px 30px 42px;
	font-family: 'LatoRegular';
}
.services-modal .modal-dialog .modal-body img{
	display: inline-block;
    padding: 0 0 10px 0;
}
.services-modal .modal-dialog .modal-body h2{
	padding: 0 0 41px 0;
	margin: 0 0 24px 0;
}
.services-modal .modal-dialog .modal-body span{
	font-size: 18px;
	line-height: 25px;
	display: block;
	padding: 0 0 29px 0;
}

.social-buttons-row {
	overflow: hidden;
	width: 100%;
}
#error-login-users .login {
	margin-bottom: 15px; 
}
.social-buttons-row a {
	float: left;
}
#error-login-users .modal-dialog {
	width: 400px;
}
/*Main ends here