.settings-wrap {
	width: 100%;
}
.tabs-holder {
	max-width: 1173px;
	margin: 0 auto 50px;
}
.tabs-holder ul li a {
	font-family: 'LatoWebMedium';
	font-size: 18px;
	line-height: 20px;
}
.tab-body {
	width: 470px;
	padding: 30px 0 0;
	margin: 0 auto;
	text-align: center;
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 2px solid #a0a0a0;
    border-radius: 15px 15px 0 0;
    color: #a0a0a0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    border: 2px solid #a0a0a0;
       border-bottom-color: #fff;
       color: #000;
}
.tab-body img {
	display: inline-block;
	padding-bottom: 10px;
}
.tab-body p {
	font-family: 'LatoRegular';
	font-size: 18px;
    line-height: 25px;
    display: block;
    padding-bottom: 15px;
}
.tab-body h2 {
	background: none;
	padding: 0;
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 32px;
}
.gift-service-tab {
	padding-top: 45px;
}
.profile-form-row {
	display: block;
	height: 60px;
}
.profile-form-row:after {
	content:"";
	display: block;
	clear: both;
}
.tab-body form {
	display: inline-block;
}
.general-form {
	padding-bottom: 30px;
}
.profile-form-row>span{
	float: left;
	font-family: 'BanderaProMedium';
	font-size: 23px;
	line-height: 25px;
	margin:12px 20px 0 0;
}
.profile-form-row input,
.location-drop {
	float: right;
	background: #fff;
	padding: 0 22px;
	width: 300px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.4);
	outline: none;
    font-family: 'LatoRegular';
    font-size: 20px;
    line-height: 22px;
	box-shadow: 0 0 2px rgba(0,0,0,0.3) inset;
}
.profile-form-row input:focus,
.profile-form-row label select:focus {
	box-shadow: 0 0 3px rgba(0,0,0,0.3), 0 0 2px rgba(0,0,0,0.3) inset;
	border: 1px solid rgba(0,0,0,0.3);
}
.profile-form-row select {
    margin: 0;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
   	background: #fff;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 10px;
	width: 300px;
	height: 50px;
	font-style: normal;
    font-size: 20px;
    line-height: 22px;
    font-family: 'LatoRegular';
	padding: 0 21px;
	color: rgba(0,0,0,0.5);
	box-shadow: 0 0 2px rgba(0,0,0,0.3) inset;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.profile-form-row label {
	position:relative;
	float: right;
	margin: 0;
}
.profile-form-row label:after {
    content:'';
    clear: both;
    display: block;
    right: 12px; top:44%;
    position:absolute;
    pointer-events:none;
    background: url(../img/header/select-settings.png) no-repeat 0 0;
    width: 13px;
    height: 9px;
}
.birthday {
	float: right;
	width: 69%;
}
.birthday select{
	float: left;
	width: 100%;
	padding: 0 15px;
}
.birthday label:last-child{
	margin: 0;
}
.birthday label{
	float: left;
	margin-right: 2%;
	width: 30%;
}
.birthday .year {
	width: 36%;
}
.birthday .year select {
	padding: 0 20px;
}
.buttons-row {
	overflow: hidden;
	width: 100%;
}
.buttons-row a{

}
.buttons-row .btn {
	width: 47%;
	outline: none;
	color: rgba(0,0,0,0.7);
    font-family: 'LatoBold';
    font-size: 23px;
    line-height: 25px;
}
.btn.save {
	background: #32CD32;

}
.btn.save a {
		color: #fff;
}
.btn.skip a {
	color: #fff;
}
.btn.skip {
	background:#FA8072; 
}
.location-drop {
	display: none;
	position: absolute;
	top: 53px;
	right: 0;
	height: auto;
	max-height: 150px;
	width: 300px;
	overflow: auto;
	padding: 0;
}
.location-drop span {
    display: block;
    transition: all 0.5s;
	padding: 5px;
}
.location-drop span:hover {
    background: #e83c32;
    color: #fff;
	cursor: pointer;
}
.profile-form-row {
	position: relative;
}
