.tabs-holder {
	max-width: 1173px;
	margin: 0 auto;
}
.tabs-holder ul li a {
	font-family: 'LatoWebMedium';
	font-size: 18px;
	line-height: 20px;
}
.tab-body {
	width: 40%;
	padding: 30px 0 0;
	margin: 0 auto;
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 2px solid #a0a0a0;
    border-radius: 15px 15px 0 0;
    color: #a0a0a0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {border: 2px solid #a0a0a0;
    border-bottom-color: #fff;
    color: #000;
}
.tab-body img {
	display: inline-block;
	padding-bottom: 10px;
}
.tab-body p{
	font-family: 'LatoRegular';
	font-size: 18px;
    line-height: 25px;
    display: block;
    text-align: center;
}
.save-message-block {
    width: 100%;
    visibility: hidden;
    display: block;
    text-align: center;
    margin: 0 0 0 0;
    font-family: 'latosemibold';
    font-size: 20px;
    line-height: 30px;
    color: #8ac049;
    margin: 5px auto 15px;
}
.save-message-block img {
	display: inline-block;
	margin: 0 10px 5px 0;
    padding: 0;
}
.save-message-block.successfully-saved {
    visibility: visible;
}	
.tab-body h2 {
	background: none;
	padding: 0;
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 32px;
}
.gift-service-tab {
	padding-top: 45px;
}
.profile-form-row {
	display: block;
}
.profile-form-row:after {
	content:"";
	display: block;
	clear: both;
}
.tab-body form {
	display: block;
}
.profile-form-row.aboutme .form-block textarea{
	height: 200px;
	overflow: auto;
	padding: 11px 22px;
	resize: none;
}
.profile-form-row.aboutme {
	height: 200px;
}
.settings-form {
	padding-bottom: 20px;
}
.profile-form-row>span{
	float: left;
	font-family: 'BanderaProMedium';
	font-size: 23px;
	line-height: 25px;
	margin:12px 20px 0 0;
	width: 30%;
}
.form-block {
	width: 64%;
	float: right;
}
#general-tab .tab-body em {
	font-family: 'BanderaProMedium';
	font-size: 15px;
	line-height: 17px;
	font-style: normal;
	color: #e63715;
}
.profile-form-row .profile-form,
.location-drop,
.profile-form-row textarea {
	background: #fff;
	padding: 0 22px;
	width: 300px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.4);
	outline: none;
    font-family: 'LatoRegular';
    font-size: 20px;
    line-height: 22px;
	box-shadow: 0 0 2px rgba(0,0,0,0.3) inset;
}
.profile-form.form-control.location-arrow {
    background:  #fff url(../img/header/select-settings.png) no-repeat 94% 50%;
}
.profile-form-row .form-block .profile-form:focus,
.profile-form-row .form-block textarea:focus,
.profile-form-row label select:focus {
	box-shadow: 0 0 3px rgba(0,0,0,0.3), 0 0 2px rgba(0,0,0,0.3) inset;
	border: 1px solid rgba(0,0,0,0.3);
}
.profile-form-row select {
	width: 300px;
	height: 50px;
}
/* .profile-form-row select {
    margin: 0;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
   	background: #fff;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 10px;
	width: 300px;
	height: 50px;
	font-style: normal;
    font-size: 20px;
    line-height: 22px;
    font-family: 'LatoRegular';
	padding: 0 21px;
	color: rgba(0,0,0,0.5);
	box-shadow: 0 0 2px rgba(0,0,0,0.3) inset;
} */

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding.
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}
.profile-form-row select option:hover {
	background: red;
}
.profile-form-row label {
	position:relative;
	margin: 0;
}
.profile-form-row label:after {
    content:'';
    clear: both;
    display: block;
    right: 12px; top:44%;
    position:absolute;
    pointer-events:none;
    background: url(../img/header/select-settings.png) no-repeat 0 0;
    width: 13px;
    height: 9px;
} */
.birthday-block {
	overflow: hidden;
}
.birthday-block select{
	float: left;
	width: 100%;
	padding: 0 15px;
}
.birthday-block label:last-child{
	margin: 0;
}
.birthday-block label{
	float: left;
	margin-right: 2%;
	width: 30%;
}
.birthday-block .year {
	width: 36%;
}
.birthday-block .year select {
	padding: 0 20px;
}
.buttons-row {
	overflow: hidden;
	width: 100%;
	text-align: center;
}
.buttons-row .btn {
	width: 47%;
	outline: none;
	color: rgba(0,0,0,0.7);
    font-family: 'LatoBold';
    font-size: 23px;
    line-height: 25px;
    background: #ebebeb;
}
#personal-tab .buttons-row .btn,
#background-tab .buttons-row .btn,
#partner-tab .buttons-row .btn  {
	width: 31%;

}
.btn.save {
	background: #32CD32;
}
.btn.save {
	color: #fff;
}
#security-tab .buttons-row .btn {
	width: 47%;
}
.location-drop {
	display: none;
	position: absolute;
	top: 53px;
	right: 0;
	height: auto;
	max-height: 150px;
	width: 300px;
	overflow: auto;
	padding: 0;
	z-index: 10;
}
.location-drop span {
    display: block;
    transition: all 0.5s;
	padding: 5px;
}
.location-drop span:hover {
    background: #e83c32;
    color: #fff;
	cursor: pointer;
}
.profile-form-row {
	position: relative;
}
.separate {
	border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
}
.age-range {
	border: none;
	background: none;
	box-shadow: none;
	display: block;
	text-align: center;
	width: 100%;
	padding: 0 0 5px 0;
	font-size: 18px;
	line-height: 18px;
}
.form-block .change-block {
	overflow: hidden;
}
.change-block .profile-form {
	float: left;
	width: 210px;
}
.form-block.change-pass>.profile-form {
	width: 210px;
	margin-bottom: 10px;
}
.change-block .btn {
	float: right;
    border: none;
    height: 50px;
    width: 85px;
    border-radius: 10px;
    font-family: 'LatoBold';
    font-size: 17px;
    line-height: 19px;
    outline: none;
}
.change-block .btn.btn-default {
    color: #000;
    background: #ebebeb;
    outline: none;
}
.change-block .btn.btn-success {
    color: #fff;
    background: #32CD32;
    outline: none;
}
.profile-form-row .form-block .age-range:focus {
	border: none;
	background: none;
	box-shadow: none;
}
.profile-form-row .form-block.settings-range {
	padding-top: 15px;
    padding-bottom: 36px;
	overflow: hidden;
}
.left-range,
.right-range {
	color: #cdcdcd;
    font-family: 'LatoRegular';
    font-size: 17px;
    line-height: 19px;
    font-style: normal;
}
.left-range {
		float: left;
		width: 25px;
		text-align: left;
}
.right-range {
		float: left;
		width: 25px;
		text-align: right;
}
.slider-wrap {
	float: left;
	width: 250px;
	margin-top: 9px;
}
.slider-row {

}

.profile-form-row.checkboxes span{
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
}
.profile-form-row.checkboxes .form-block {
	width: 100%;
	margin-bottom: 15px;
	padding-left: 25px;
}
.profile-form-row p{
	margin: 0;
	padding: 0;
	float: left;
	line-height: 20px;
}
/*Checkbox*/
/* .squaredThree */
.squaredThree {
  position: relative;
  float: left;
  margin-right: 20px;
}
.squaredThree label {
	display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    /* background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%); */
    /* background: linear-gradient(to bottom, #222222 0%, #45484d 100%); */
    border-radius: 4px;
    /* background: #ebebeb; */
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.squaredThree label:after {
	content: '';
    width: 19px;
    height: 9px;
    position: absolute;
    top: 1px;
    left: 4px;
    border: 4px solid #e83c32;
    /* border-radius: 10px; */
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredThree label:hover::after {
  opacity: 0.3;
}
.squaredThree input[type=checkbox] {
  visibility: hidden;
  width: 20px;
}
.squaredThree input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .squaredThree */