.search-holder {
	width: 100%;
}
.search {
	max-width: 1170px;
	margin: 0 auto 100px;
}
.sub-heading {
	display: block;
	text-align: center;
    font-family: 'LatoRegular';
	font-size: 19px;
	line-height: 21px;
	margin-bottom: 40px;
}
.search-content {
	width: 100%;
	overflow: hidden;
}
.search-id {
	width: 12%;
	float: left;
	margin-right: 1.7%;
}
.search-title {
	display: block;
	text-align: center;
    font-family: 'BanderaProMedium';
	font-size: 25px;
	line-height: 27px;
	margin-bottom: 18px;
}
.search-form,
.search-id-field {
	background: #fff;
	padding: 0 22px;
	width: 100%;
	height: auto;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.4);
	outline: none;
    font-family: 'LatoRegular';
    font-size: 20px;
    line-height: 22px;
	box-shadow: 0 0 2px rgba(0,0,0,0.3) inset;
}
.search-form:focus,
.search-id-field:focus {
	box-shadow: 0 0 3px rgba(0,0,0,0.3), 0 0 2px rgba(0,0,0,0.3) inset;
	border: 1px solid rgba(0,0,0,0.3);
}
.search-id-field {
	height: 50px;
	width: 138px;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 2px rgba(0,0,0,0.3) inset;
	border-radius: 10px;
	overflow: hidden;
	padding: 0;
}
.search-id-field span {
	float: right;
	width: 33px;
	padding-top: 12px;
}
.id-form {
	width: 103px;
	height: 50px;
	padding-left: 22px;
	float: left;
	border: none;
	outline: none;
}

/* .search-content select {
    margin: 0;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
   	background: #fff;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 10px;
	width: 268px;
	height: 50px;
	font-style: normal;
    font-size: 20px;
    line-height: 22px;
    font-family: 'LatoRegular';
	padding: 0 21px;
	color: rgba(0,0,0,0.5);
	box-shadow: 0 0 2px rgba(0,0,0,0.3) inset;
} */
.search-age {
	width: 27%;
	float:left;
	margin-right: 19px;
}

/* slider */
.search-range:focus {
	border: none;
	background: none;
	box-shadow: none;
}
.search-range:after {
	content: "";
	display: block;
	clear: both;
}
.search-range {
    padding-bottom: 36px;
}
.search-age.search-title {
	margin-bottom: 18px;	
}
.left-range,
.right-range {
	color: #cdcdcd;
    font-family: 'LatoRegular';
    font-size: 17px;
    line-height: 19px;
    font-style: normal;
}
.left-range,
.right-range {
		float: left;
		width: 28px;
		text-align: left;
}
.right-range {
		text-align: right;
}
.slider-wrap {
	float: left;
	width: 256px;
	margin-top: 9px;
}
.value {
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    display: block;
    font-weight: normal;
    font-family: 'latosemibold';
    font-size: 20px;
    line-height: 22px;
}
.price-range-both.value {
  width: 100px;

}

.price-range-both {
  display: none; 
      font-family: 'latosemibold';
    font-size: 20px;
    line-height: 22px;
      top: 30px;
  left: 50%;
}
.search-country {
	width: 23%;
	float: left;
}


/* search results */

.search-results {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}
.search-profile-block {
	width: 31%;
	margin-right: 3.41%;
	float: left;
	border: 1px solid #000;
	border-radius: 10px;
	overflow: hidden;
}
.search-profile-block>img {
	float: left;
	margin-right: 7%;
}
.search-profile-info {
	float: left;
}
.search-profile-block strong {
	display: block;
	padding-top: 22px;
    font-family: 'BanderaProMedium';
	font-size: 21px;
	line-height: 23px;
	font-weight: normal;
	margin-bottom: 0;
}
.search-profile-block span {
	display: block;
	color: #a0a0a0;
    font-family: 'LatoRegular';
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 0;
}
.search-profile-block em {
	display: block;
	font-style: normal;
	color: #26a19c;
    font-family: 'LatoRegular';
    font-size: 14px;
    line-height: 16px;
    padding-left: 10px;
    background: url("../img/search/online-ico.png") no-repeat 0 0;
    margin-bottom: 0;
}